@(bondList: List[Bond])

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title>DBBonds → Search results</title>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>

<body>
<table  class="table table-striped table-hover table-condensed" >
	<thead>
		<tr>
			<th>CUSIP</th>
			<th>Name</th>
			<th>Par Value</th>
			<th>Price</th>
			<th>Coupon</th>
			<th>Current Yield</th>
			<th>Quantity</th>
			<th>Moody's Rating</th>
			<th>S&P Rating</th>
			<th>Issuer</th>
		</tr>
	</thead>
	<tbody>
		@for(bond <- bondList) {
			<tr>
			<td>@bond.getCusip()</td>
			<td>@bond.getName()</td>
			<td>@bond.getParValue()</td>
			<td>@bond.getPrice()</td>
			<td>@bond.getCoupon()</td>
			<td>@bond.getCurrentYield()</td>
			<td>@bond.getQuantity()</td>
			<td>@bond.getIdMoodysRating()</td>
			<td>@bond.getidSpRating()</td>
			<td>@bond.getIssuer()</td>
			<td>
				<form action="">
	    			<button type="button" class="btn btn-primary btn-sm">Buy</button>
				</form>
			</td>
		}
	</tbody>
</table>
</body>
</html>


