@(form: Form[Application.Login])

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title>DBBonds</title>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	
</head>

<body>

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <!--navigation does here--> 

     
    </div>  
  </div>  
</div> 

<img src="@routes.Assets.at("images/db_right.jpg")" class="dblogo">
<div id="signin">
	@helper.form(routes.Application.authenticate) {
		<p>
			<input type="email" name="email" placeholder="Email address" class="form-control">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password" class="form-control">
		</p>
		<p>
			<button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
		</p>
	}
</div>
</body>
</html>
