@(portfolio: Portfolio)
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title>DBBonds → Bonds of client</title>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
		<ul class="nav navbar-nav">
				<li><img src="@routes.Assets.at("images/db_square.png")" class="dbheader"></li>
				<li><a class="navbar-brand" href="@routes.Clients.list()" class="active">Clients</a></li>
			</ul> 
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="@routes.Application.search()">Search</a></li>
			</ul> 
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@routes.Application.login()">Logout</a></li> 
			</ul>
		</div>
	</nav>

<table  class="table table-striped table-hover table-condensed" >
	<thead>
		<tr>
			<th>CUSIP</th>
			<th>Name</th>
			<th>Par Value</th>
			<th>Price</th>
			<th>Coupon</th>
			<th>Current Yield</th>
			<th>Avaliable</th>
			<th>Issuer</th>
			<th>Quantity</th>
		</tr>
	</thead>
	<tbody>
		@for((bond, quantity) <- portfolio.getBonds().zip(portfolio.getQuantities())) {
			<tr>
			<td>@bond.getCusip()</td>
			<td>@bond.getName()</td>
			<td>@bond.getParValue()</td>
			<td>@bond.getPrice()</td>
			<td>@bond.getCoupon()</td>
			<td>@bond.getCurrentYield()</td>
			<td>@bond.getQuantity()</td>
			<td>@bond.getIssuer()</td>
			<td>@quantity</td>
			<td>
			<form action="@routes.Application.buy2portfolio(portfolio.getId(), bond.getCusip())">
    			<button type="button submit" class="btn btn-primary btn-sm">Buy</button>
			</form>
			</td>
			<td><button type="button" class="btn btn-primary btn-sm">Sell</button></td>
			</tr>
		}
	</tbody>
</table>
</body>
</html>
