@(form: Form[Application.Search])

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title>DBBonds</title>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
		<ul class="nav navbar-nav">
				<li><img src="@routes.Assets.at("images/db_square.png")" class="dbheader"></li>
				<li><a class="navbar-brand" href="@routes.Clients.list()">Clients</a></li>
			</ul> 
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="@routes.Application.search()" >Search</a></li>
			</ul> 
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@routes.Application.login()">Logout</a></li> 
			</ul>
		</div>
	</nav>

<div class="search">
	@helper.form(routes.Application.filter) {
	<table class="table table-hover table-condensed search">
	<thead>
		<tr><td></td><td>Low</td><td>High</td></td>
	</thead>
	<tbody>
		<tr>
			<td valign="middle">Rating:</td>
			<td><input type = "text" name="lowRating" class="search form-control col-lg-2"></td>
			<td><input type = "text" name="highRating" class="search form-control"></td>
		</tr>
		<tr>
			<td>Coupon(%):</td>
			<td><input type = "text" name="lowCoupon" class="search form-control"></td>
			<td> <input type = "text" name="highCoupon" class="search form-control"></td>
		</tr>
		<tr>
			<td>Current Yield (%):</td>
			<td><input type = "text" name="lowCurrentYield" class="search form-control"></td>
			<td> <input type = "text" name="highCurrentYield" class="search form-control"></td>
		</tr>
		<tr>
			<td>Yield to Maturity (%):</td>
			<td><input type = "text" name="lowMaturityYield" class="search form-control"></td>
			<td> <input type = "text" name="highMaturityYield" class="search form-control"></td>
		</tr>
		<tr>
			<td>Maturity Date:</td>
			<td><input type = "text" name="lowDate" class="search form-control"></td>
			<td> <input type = "text" name="highDate" class="search form-control"></td>
		</tr>
		<tr>
			<td>Par Value($):</td>
			<td><input type = "text" name="lowParValue" class="search form-control"></td>
			<td> <input type = "text" name="highParValue" class="search form-control"></td>
		</tr>
		<tr>
			<td>Price($):</td>
			<td><input type = "text" name="lowPrice" class="search form-control"></td>
			<td> <input type = "text" name="highPrice" class="search form-control"></td>
		</tr>
		</tbody>
		</table>
		<p align="center">
			<button type="submit" class="btn btn-primary" name = "search">Search</button>
		</p>
	}
	</div>
</body>
</html>
	


